

<div id="container">
    <div class="google_icon">
        <%= image_tag "googlelogo.png" %>
    </div>
    <form action="" class="sbar">
        <input class="champ" type="text" value="" />
    </form>
    <div class="buttons">
        <input value="Google Search" type="submit">
        <input value="I'm Feeling Lucky" type="submit">
    </div>
    <div id="offered">
        <p>Google offered in: <a href="Français" >Français</a> </p>
    </div>

</div>
<script type="text/javascript" src="nyan.js"></script>
