<div class="fbar1">
  <p>France</p>
</div>
<div class="footer">
  <ul class="l2">
    <li><a href=http://www.nyan.cat/>Advertising</a></li>
    <li><a href=https://www.google.com/services/>Business</a></li>
    <li><a href=https://www.google.com/intl/en_us/about/>About</a></li>
  </ul>
  <ul class="l2">
    <li><a href=https://support.google.com/websearch?p=fr_consumer_info&hl=en-FR&fg=1>Consumer Information</a></li>
    <li><a href=https://www.google.com/intl/en_fr/policies/privacy/?fg=1>Privacy</a></li>
    <li><a href=https://www.google.com/intl/en_fr/policies/terms/?fg=1>Terms</a></li>
    <li><a href=https://www.google.com/preferences?hl=en>Settings</a></li>
  </ul>
</div>
