<div id="navbar">
        <ul>
            <li><a href="https://www.gmail.com">Gmail</a></li>
            <li><a href="https://www.google.fr/imghp?hl=en&tab=wi">Images</a></li>
            <li><a href="https://www.youcandothecube.com/solve-it/3-x-3-solution"><img src="Pictures/3x3.png"></a></li>
            <a href="https://accounts.google.com/ServiceLogin?hl=en&passive=true&continue=https://www.google.com/"><button class="sign">Sign in</button></a>
        </ul>
    </div>
